<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-brand white" style="font-size : 30px">BookStore</div>

        <ul class="navbar-nav bg-red">
               <li ><a  class="nav-link" routerLink="/shop" style="color:lavender;" >Shop</a></li>
               <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color:lavender;">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"style="background-color:lavender;">
                    <a routerLink="/admin/users" class="dropdown-item"style="color:black;" ><strong>Customers</strong></a>
                    <a routerLink="/admin/books" class="dropdown-item "><strong>BooksList</strong></a>
                </div>
      
            </li>
        </ul>
    </nav>
</header>

