<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-brand white">BookStore</div>

        <ul class="navbar-nav">
               <li><a  class="nav-link" routerLink="/shop"  >Shop</a></li>
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/admin/users" class="dropdown-item">Customers</a>
                    <a routerLink="/admin/books" class="dropdown-item">BooksList</a>
                </div>
      
            </li>
        </ul>
    </nav>
</header>

