
<div class="container row" style="background-color:lightgray;">
        <div class="col-md-2">
            <h1>Books</h1>
        </div>
        <div class="col-md-10 custom-products-cart-container">
            <div class="offset-md-8">
                <ul class="nav navbar-nav navbar-right">
    
                    <li class="dropdown">
                        <br>
                        <a href="#" class="btn btn-info btn-lg" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-shopping-cart">
                                Books Added In Cart:
                            </span>
                            <span class="caret">{{cartBooks.length}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-cart" role="menu" >
                            <li *ngFor="let item of cartBooks">
                                <div class="item product-cart-item row" aria-expanded="false">
                                    <div class="col-md-8" *ngIf="item" >{{item.name}}</div>
                                    <div class="col-md-8" *ngIf="item"><strong>{{item.price | currency:'INR'}}</strong></div>
                                </div>
                            </li>
                            <hr>
                            <li><a class="btn btn-small btn-success" role="button" (click)="goToCart()">View Cart</a></li>
                            <br>
                            <li *ngIf="cartBooks.length > 0">
                                <a class="btn btn-small btn-warning" role="button" (click)="emptyCart()">Empty Cart</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <hr>
    <hr>
       
    <div class="container row " style="background-color:lavender;">
        <div class="col-sm-4 black" *ngFor="let book of books;let i=index" >
            <div class="card card-block black">
                <img class="custom-image-style" img src="{{book.retrievedImage}}" height="300" width="340" style="margin-right: 0px;
              margin-top: 0px">
                <div class="book-desc-container row " >
                    <div>
                        <p style="margin-left: 100px" >{{book.name}} : <strong>{{book.price | currency:'INR'}}</strong></p>
                        <p style="margin-left: 100px"> Author :<strong> {{book.author}}</strong></p>
                    </div>
                    <div class="offset-lg-4 col-lg-12">
                        <button class="btn btn-primary btn-sm" (click)="addToCart(book.id)"
                            [disabled]="book.isAdded===true">Add To Cart</button>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
