<div>
<h1>Book Details</h1>

<table>
    <tr>
        <td>Book Id</td>
        <td>{{book.id}}</td>
    </tr>
    <tr>
        <td>Book Name</td>
        <td>{{book.name}}</td>
    </tr>
    <tr>
        <td>Book Author</td>
        <td>{{book.author}}</td>
    </tr>
    <tr>
        <td>Book Price</td>
        <td>{{book.price | currency:'INR'}}</td>
    </tr>
</table>
<br>
<img src="{{book.retrievedImage}}" height="200" width="200">
<br><br>
<a class="btn btn-small btn-warning"  (click)="editBook()" style="margin-left: 30px">EDIT</a> --- 

<a class="btn btn-small btn-danger" (click)="deleteBook()">DELETE</a>
</div>
