
<h1>Books</h1>
<a class="btn btn-primary mb-3" style="margin-right: 250px" style="background-color:plum;" style="font-size : 20px"(click)="addBook()">Add New Book</a>
<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr style="font-size : 20px">
          <th>ID</th>
          <th>Book Name</th>
          <th>Book Cover</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          
         <td>{{book.id}}</td>
          <td><strong>{{book.name}}</strong></td>
          <td><img src="{{book.retrievedImage}}" height="100" width="120">
          </td>
          <td>
            <button type="button" class="btn btn-primary" (click)="viewBook(book.id)"> Show Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-addbook *ngIf="action === 'edit' || action === 'add'" [book]="selectedBook" (bookAddedEvent)="refreshData()"></app-addbook>    
    <app-viewbook *ngIf="action === 'view'" [book]="selectedBook" (bookDeletedEvent)="refreshData()"></app-viewbook>
  </div>
</div>
